/* gloabal styles */
Link > * {
  text-decoration: none;
}

.app__main,
.app__author {
  display: flex;
  padding: 1rem 5rem;
  justify-content: space-around;
}

.app__left,
.author__left {
  flex: 2;
  padding: 0 20px;
}

.app__right,
.author__right {
  flex: 1;
  padding: 0 20px;
  height: 100%;
  position: fixed;
  right: 0;
}
